@{
    ViewBag.Title = "AddNewPhoneBookPost";
}

<body class="bg-light">
    <div class="container">
        <br />
        <br />
        <br />
        <br />
        <h4 class="mb-3">Create Post</h4>
        <div class="table-responsive-md">
            <div class="panel-title">
                <div class="row">
                    <div class="col col-md-6">
                        <h3 class="panel-title">Post History</h3>
                    </div>
                    <div class="col col-md-5 text-right">
                        <button type="button" class="btn btn-sm btn-primary btn-create" onclick="@("window.location.href='" + @Url.Action("CreatePhoneBookPost", "Post") + "'");">Create New</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th align="center" style="width: 140px">Operation</th>
                            <th style="width: 150px">PostID</th>
                            <th style="width: 200px">CarouselTitle</th>
                            <th style="width: 300px">CarouselLink</th>
                            <th style="width: 300px">CreateDate</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var eachPostData in ViewBag.ListOfPosts as List<PhoneBookService.Models.PostDataPhoneBook>)
                        {
                            <tr>
                                <td align="center">
                                    <a class="btn btn-sm btn-primary" onclick="@("window.location.href='" + @Url.Action("EditPhoneBookPost", "Post", new { postID=eachPostData.Zza01}) + "'");">edit</a>
                                    &nbsp;&nbsp;
                                    <a class="btn btn-sm btn-secondary" onclick="@("window.location.href='" + @Url.Action("DeletePhoneBookPost", "Post", new { postID=eachPostData.Zza01}) + "'");">delete</a>
                                </td>
                                <td>@eachPostData.Zza01</td>
                                <td>@eachPostData.Zza02</td>
                                <td>@eachPostData.Zza03</td>
                                <td>@eachPostData.Zza05</td>
                            </tr>
                        }

                    </tbody>
                </table>
                <br />

                <footer>
                    <p>&copy; @DateTime.Now.Year - Web Application</p>
                </footer>
            </div>

        </div>
    </div>
</body>