@{
    ViewBag.Title = "AddNewPost";
}
@model AupaWeb.Models.PostDataViewModel

<body class="bg-light">
    <div class="container">
        <br />
        <br />
        <br />
        <br />
        <h4 class="mb-3">Create Post</h4>
        <div class="table-responsive-md">
            <div class="panel-title">
                <div class="row">
                    <div class="col col-md-6">
                        <h3 class="panel-title">Post History</h3>
                    </div>
                    <div class="col col-md-5 text-right">
                        <button type="button" class="btn btn-outline-primary" onclick="@("window.location.href='" + @Url.Action("CreatePost", "Post") + "'");">Create New</button>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead class="thead-light">
                        <tr>
                            <th align="center" style="width: 180px">Operation</th>
                            <th style="width: 200px">PostDate</th>
                            <th style="width: 200px">Title</th>
                            <th style="width: 300px">Content</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var eachPostData in Model.PostDataList)
                        {
                            <tr>
                                <td align="center">
                                    <a class="btn btn-sm btn-outline-secondary" onclick="@("window.location.href='" + @Url.Action("EditPost", "Post", new { postID=eachPostData.Aaa01}) + "'");">EDIT</a>
                                    &nbsp;&nbsp;
                                    <a class="btn btn-sm btn-outline-danger" onclick="@("window.location.href='" + @Url.Action("DeletePost", "Post", new { postID=eachPostData.Aaa01}) + "'");">DELETE</a>
                                </td>
                                <td>@eachPostData.Aaa04</td>
                                <td>@eachPostData.Aaa06</td>
                                <td>@Html.Raw(@eachPostData.Aaa07.Replace("\n", "<br />"))</td>
                            </tr>
                        }
                    </tbody>
                </table>
                <nav>
                    <ul class="pagination">
                        @if (Model.FirstPage)
                        {
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1" );">Previous</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" href="#" tabindex="-1" onclick="@("window.location.href='" + @Url.Action("ToPage", "Post", new { postID = Model.PreviousPageNumber }) + "'");">Previous</a>
                            </li>
                        }
                        @foreach (var eachPageNum in Model.PageNumberList)
                        {
                            <li class="page-item"><a class="page-link" href="#" onclick="@("window.location.href='" + @Url.Action("ToPage", "Post", new { postID = eachPageNum.CurrentPage }) + "'");">@eachPageNum.PageNumber</a></li>
                        }
                        @if (Model.LastPage)
                        {
                            <li class="page-item disabled">
                                <a class="page-link" href="#">Next</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" href="#" onclick="@("window.location.href='" + @Url.Action("ToPage", "Post", new { postID = Model.NextPageNumber }) + "'");">Next</a>
                            </li>
                        }

                    </ul>
                </nav>
                <footer>
                    <p>&copy; @DateTime.Now.Year - Web Application</p>
                </footer>
            </div>
        </div>
    </div>
</body>