
@{
    ViewBag.Title = "ConfirmDelete";
}

@model IEnumerable<AupaWeb.Models.PostDataObject>

<body class="bg-light">
    <div class="container">
        <div class="py-5 text-center">
        </div>

        <div class="row">
            <div class="col-md-4 order-md-2 mb-4">

            </div>
            <div class="col-md-8 order-md-1">
                <h4 class="mb-3">Confirm Delete Post</h4>
                @foreach (var eachPostData in ViewBag.ListOfPosts as List<AupaWeb.Models.PostDataObject>)
                {
                    using (Html.BeginForm("ConfirmedDelete", "Post", new { postID = eachPostData.Aaa01 }, FormMethod.Post))
                    {
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <input type="hidden" placeholder="@eachPostData.Aaa01" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="Aaa06">Title</label>
                            <input type="text" class="form-control" placeholder="@eachPostData.Aaa06" readonly/>
                        </div>
                        <div class="mb-3">
                            <label for="Aaa07">Post Content</label>
                            <textarea class="form-control" placeholder="@eachPostData.Aaa07" rows="5" readonly></textarea>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Delete" 
                               onclick="@("window.location.href='" + @Url.Action("DeleteConfirmed", "Post",
                                        new { postID=eachPostData.Aaa01}) + "'");" />
                        <button type="button" class="btn btn-primary" onclick="history.go(-1)">Cancel</button>
                    }
                }
            </div>
        </div>
    </div>
</body>

