@{
    ViewBag.Title = "PhoneBookIndex";
}
@model PhoneBookService.Models.RecordDataViewModel

    <main role="main" class="container">
                <br />
                <h4 class="mb-3">Create Post</h4>
                <div class="table-responsive-md">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col col-md-6">
                                <h3 class="panel-title">Post History</h3>
                            </div>

                            <div class="col col-md-5 text-right">
                                <button type="button" id="BtnExport" name="BtnExport" class="btn btn-sm btn-primary btn-create">匯出資料</button>
                                <button type="button" class="btn btn-sm btn-primary btn-create" onclick="@("window.location.href='" + @Url.Action("AddPhoneBookRecord", "PhoneBook") + "'");">AddNewRecord</button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th align="center" style="width: 150px">Operation</th>
                                    <th style="width: 150px">工號</th>
                                    <th style="width: 150px">FirstName</th>
                                    <th style="width: 150px">LastName</th>
                                    <th style="width: 150px">姓名</th>
                                    <th style="width: 150px">EMail</th>
                                    <th style="width: 150px">成本中心</th>
                                    <th style="width: 150px">分機</th>
                                    <th style="width: 150px">職稱</th>
                                    <th style="width: 150px">角色</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var eachPostData in Model.RecordDataList)
                                {
                                    <tr>
                                        <td align="center">
                                            <a class="btn btn-sm btn-primary" onclick="@("window.location.href='" + @Url.Action("EditPhoneBookRecord", "PhoneBook", new { postID=eachPostData.Zza01}) + "'");">edit</a>
                                            &nbsp;&nbsp;
                                            <a class="btn btn-sm btn-secondary" onclick="@("window.location.href='" + @Url.Action("DeletePost", "PhoneBook", new { postID=eachPostData.Zza01}) + "'");">delete</a>
                                        </td>
                                        <td>@eachPostData.Zza01</td>
                                        <td>@eachPostData.Zza02</td>
                                        <td>@eachPostData.Zza03</td>
                                        <td>@eachPostData.Zza04</td>
                                        <td>@eachPostData.Zza05</td>
                                        <td>@eachPostData.Zza06</td>
                                        <td>@eachPostData.Zza07</td>
                                        <td>@eachPostData.Zza08</td>
                                        <td>@eachPostData.Zza09</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <br />
                        <nav>
                            <ul class="pagination">
                                @if (Model.FirstPage)
                                {
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1" );">Previous</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="#" tabindex="-1" onclick="@("window.location.href='" + @Url.Action("ToPage", "PhoneBook", new { postID = Model.PreviousPageNumber }) + "'");">Previous</a>
                                    </li>
                                }
                                @foreach (var eachPageNum in Model.PageNumberList)
                                {
                                    <li class="page-item"><a class="page-link" href="#" onclick="@("window.location.href='" + @Url.Action("ToPage", "PhoneBook", new { postID = eachPageNum.CurrentPage }) + "'");">@eachPageNum.PageNumber</a></li>
                                }
                                @if (Model.LastPage)
                                {
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                }
                                else
                                {
                                    <li class="page-item">
                                        <a class="page-link" href="#" onclick="@("window.location.href='" + @Url.Action("ToPage", "PhoneBook", new { postID = Model.NextPageNumber }) + "'");">Next</a>
                                    </li>
                                }

                            </ul>
                        </nav>
                        <footer>
                            <p>&copy; @DateTime.Now.Year - Web Application</p>
                        </footer>
                    </div>
                </div>
  

    </main>